@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scrollLeft 20s linear infinite;
}

.scroll-slider {
  width: max-content;
}